body
	padding:50px

h1	
	font-size:60px

p
	color:red


a
	color:green

div
	background-color: #ebb
	p
		color:blue

.clase
	background-color:#91d4ff
	padding:15px
	text-align:center
	border-radius:10px
	margin:10px 0px
	p
		font-size:28px
		color:#4751ff

#identificador
	background-color:#FF5B5BFF
	color:white
	padding:50px
	text-align:center
	border-radius:20px
	p
		color:#FFE2D1FF

.uno
	margin:50px 50px
	padding: 20px
	background-color:transparentize(black,.8)
	.dos
		background-color:transparentize(black,.7)
		padding:20px
		.tres 	
			background-color:transparentize(black,.5)
			padding: 20px
			.cuatro
				background-color:transparentize(black,.3)
				padding:20px
				.cinco
					color:white
					text-align:center
					font-size:40px
				.seis 	
					color:white
					.siete
						color:white
						text-decoration:underline
						font-weight:bold