body {
  padding: 50px;
}

h1 {
  font-size: 60px;
}

p{
  color: red;
}
a{
  color: green;
}

div {
  background-color: #ebb;
}
.clase {
  background-color: #91d4ff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0px;
}
.clase p {
  font-size: 28px;
  color: #4751ff;
}

#identificador {
  background-color: #ff5b5b;
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 20px;

}

#identificador p {
  color: #ffe2d1;
}

.uno {
  margin: 50px 50px;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
}
.uno .dos {
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
}
.uno .dos .tres {
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}
.uno .dos .tres .cuatro {
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
}
.uno .dos .tres .cuatro .cinco {
  color: white;
  text-align: center;
  font-size: 40px;
}
.uno .dos .tres .cuatro .seis .siete{
  color: white;
  text-decoration: underline;
  font-weight: bold;
}