body{
	padding: 50px;
}

/*Estructura del CSS3*/

h1 {
	font-size: 60px;
}

p{
	color: red;
}

a{
	color: green;
}

div{
	background-color: #ebb;
}

div p{
	color: blue;
}

.clase{
	background-color: lighten($base, 10);
	/*background-color: #91d4ff;*/
	padding:  15px;
	text-align: center;
	border-radius: 10px;
	margin: 10px 0px;
	

}

.clase p {
	font-size: 20px;
	color: 4751ff;
}

#identificador{
	background-color: #ff5d5b;
	color: white;
	padding: 50px;
	text-align: center;
	border-radius: 20px;
}

#identificador p{
	color: FFe2d1ff;
}
